@model IEnumerable<LearnHubAPP.Models.Module>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomModule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Formation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomModule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formation.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdModule">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdModule">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdModule">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
